<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <%include ../common/meta.ejs %>
    <title>工具 - 恨水无伤</title>
</head>

<body>

    <div id="tools">
        <app></app>
    </div>


    <script src="/dist/js/tools.js"></script>

    <% include ../template/tongji.ejs %>
</body>

</html>