<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>恨水无伤|tools</title>
</head>

<body>

    <div id="tools">
        <app></app>
    </div>


    <script src="/dist/js/tools.js"></script>

    <% include ../template/tongji.ejs %>
</body>

</html>