<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>恨水无伤|component</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/component/component.css">
    <link rel="stylesheet" href="/css/monokai_sublime.min.css">
    <script src="/js/highlight.min.js"></script>
</head>

<body>

    <div id="component">

        <app></app>

    </div>

    <script src="/dist/js/component.js"></script>
    <% include template/tongji.ejs %>
</body>

</html>