<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>恨水无伤|唐诗</title>

    <link rel="stylesheet" href="/css/poetry/poetry.min.css">

</head>

<body>

    <div id="poetry">
        <app></app>
    </div>
    <script src="/dist/js/poetry.js"></script>
    <% include template/tongji.ejs %>
</body>

</html>