<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <%include ./common/meta.ejs %>

    <title>单词 - 恨水无伤</title>
    <link rel="stylesheet" href="/css/word/index.min.css">
</head>

<body>
    <div id="word">
        <word></word>
    </div>
    <script>
        let pos = [<%- pos %>]
    </script>
    <script src="/dist/js/word.js"></script>
    <% include template/tongji.ejs %>

</body>

</html>