html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
img,
a,
dl,
dt,
dd,
ul,
ol,
li,
pre,
em,
strong,
b,
i,
fieldset,
form,
label,
legend,
button,
input,
textarea,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body,
button,
input,
select,
textarea {
    font: 14px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

address,
cite,
dfn,
em,
var {
    font-style: normal;
}

code,
kbd,
pre,
samp,
tt {
    font-family: "Courier New", Courier, monospace;
}

small {
    font-size: 12px;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a,
button {
    cursor: pointer;
}

em,
i {
    font-style: normal;
}

legend {
    color: #000;
}

fieldset,
img {
    border: 0;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

input,
select,
img {
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@mixin center_center ($pos: absolute, $left: 50%, $top: 50%, $other: "") {
    position: $pos;
    left: $left;
    top: $top;
    @if $other=="" {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    @else {
        -webkit-transform: translate(-50%, -50%) $other;
        transform: translate(-50%, -50%) $other;
    }
}

@mixin center ($pos: absolute, $left: 50%, $top: 50%, $other: "") {
    position: $pos;
    left: $left;
    top: $top;
    @if $other=="" {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    @else {
        -webkit-transform: translate(-50%, 0) $other;
        transform: translate(-50%, 0) $other;
    }
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    content: "";
    clear: both;
    font-size: 0;
}

body {
    background: url(/images/music/long_bg.png) no-repeat center;
    background-size: 110%;
    overflow: hidden;
}

$w: 250px;
.icontent {
    .ihead {
        height: 70px;
        background-color: rgba(3, 3, 3, .85);
        border-bottom: 1px solid #000;
    }
    .ibody {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        .ileft {
            position: relative;
            width: $w;
        }
        .icenter {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
        .iright {
            width: $w + 50px;
            .iclose,
            .irightBg {
                display: none;
            }
        }
    }
    .ifoot {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 110px;
        background-color: rgba(3, 3, 3, .85);
        border-top: 1px solid #000;
        .iplate {
            display: none;
        }
        .imgBg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: .1;
            overflow: hidden;
            img {
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                width: 100%;
            }
        }
    }
}

.ilogo {
    width: $w;
    height: 100%;
    float: left;
    a {
        display: block;
        margin: 0 auto;
        width: 43px;
        height: 70px;
        background: url(/images/music/long_white.png) no-repeat center;
        background-size: 95%;
        -webkit-transition: all .5s ease-out;
        transition: all .5s ease-out;
    }
    .left {
        -webkit-transform: translateX(200%);
        transform: translateX(200%);
    }
    .right,
    .bottom {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}

.isearch_box {
    float: left;
    .isearch_input {
        float: left;
        margin-top: 20px;
        margin-left: 30px;
        padding: 2px 5px;
        background: #999;
        border-radius: 15px;
        span {
            float: left;
            margin-top: 2px;
            width: 20px;
            height: 20px;
            background: url(/images/music/icon.png) no-repeat 0 -338px;
            cursor: pointer;
        }
        input {
            float: left;
            width: 180px;
            background: #999;
            color: #fff;
            border-radius: 5px;
            -webkit-transition: all .5s ease-out;
            transition: all .5s ease-out;
            &:focus {
                width: 280px;
            }
        }
    }
}

.ileft_list {
    margin: 30px;
    font-size: 12px;
    li {
        height: 30px;
        line-height: 30px;
        border-bottom: 1px dotted #ddd;
        -webkit-transition: all .5s;
        transition: all .5s;
        cursor: pointer;
        &.action,
        &:hover {
            color: #f00;
        }
    }
    .irecord {
        span {
            display: inline-block;
            vertical-align: -4px;
            width: 20px;
            height: 18px;
            margin: 0 5px;
            background: url(/images/music/icon.png) no-repeat 0 -376px;
        }
    }
}

.isentence {
    position: absolute;
    width: 80%;
    left: 20px;
    bottom: 50px;
    text-indent: 2em;
}

.icontroll {
    width: $w;
    padding-top: 30px;
    text-align: center;
    .icontroll_btn {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }
    .iplay,
    .iprev,
    .inext {
        margin: 10px;
        width: 30px;
        height: 30px;
        background: url(/images/music/icon.png) no-repeat 0 0;
    }
    .istop {
        background-position: 0 -30px;
    }
    .iprev {
        background-position: 0 -90px;
    }
    .inext {
        background-position: 0 -60px;
    }
    .icondition {
        margin-left: 20px;
        width: 20px;
        height: 18px;
    }
    .icondSingle {
        background: url(/images/music/icon.png) no-repeat 0 -202px;
    }
    .icondRandom {
        background: url(/images/music/icon.png) no-repeat 0 -222px;
    }
    .icondList {
        background: url(/images/music/icon.png) no-repeat 0 -182px;
    }
}

.iprocess {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    color: #fff;
    .isong_title {
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
    }
    .isong_process_box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 5px;
        .isong_start_time,
        .isong_end_time {
            width: 50px;
            font-size: 12px;
            text-align: center;
        }
        .isong_process {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            margin-top: 8px;
            height: 2px;
        }
    }
}

.ivolume {
    position: relative;
    width: $w;
    .ivolume_controll {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50%;
        margin: 45px auto;
        .ivolume_btn {
            margin: 0 5px;
            width: 20px;
            height: 16px;
            background: url(/images/music/icon.png) no-repeat 0 -296px;
            cursor: pointer;
        }
        .muted {
            background-position: 0 -314px;
        }
        .ivolume_process {
            -webkit-box-flex: 1;
            -ms-flex: 1;
            flex: 1;
            margin-top: 8px;
            height: 2px;
            background: #666;
            em {
                position: relative;
                left: 0;
                top: 0;
                display: block;
                height: 2px;
                width: 100%;
                background: #fff;
            }
            b {
                position: absolute;
                top: 50%;
                right: -5px;
                width: 10px;
                height: 10px;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                border-radius: 50%;
                background: #fff;
                cursor: pointer;
            }
        }
    }
}

.isong_list_box {
    padding: 50px 0 50px;
    .isong_list_content {
        padding-left: 50px;
        padding-right: 30px;
        margin-bottom: 15px;
        overflow-y: auto;
    }
    .isong_title {
        li {
            display: inline-block;
            width: 28%;
            text-align: center;
            background: #eee;
            border: 1px solid #ddd;
            &:nth-child(2) {
                margin: 0 30px;
            }
        }
    }
    .isong_list {
        margin-bottom: 30px;
        $c: #f00;
        li {
            height: 35px;
            line-height: 35px;
            border-bottom: 1px solid #eee;
            -webkit-transition: all .5s ease-out;
            transition: all .5s ease-out;
            &.action,
            &:hover {
                color: $c;
                p {
                    a {
                        color: $c;
                    }
                }
            }
            p {
                display: inline-block;
                vertical-align: middle;
                width: 28%;
                white-space: nowrap;
                word-break: keep-all;
                overflow: hidden;
                text-overflow: ellipsis;
                &:nth-child(2) {
                    margin: 0 30px;
                }
                a {
                    color: #333;
                    -webkit-transition: all .5s ease-out;
                    transition: all .5s ease-out;
                    &:hover {
                        color: $c;
                    }
                }
            }
            .isong_delete {
                float: right;
                cursor: pointer;
            }
        }
    }
}

.iplay_list_box {
    .isong_title {
        li {
            display: inline-block;
            width: 28%;
            text-align: center;
            border: none;
            border-left: 3px solid #cdcdcd;
            &:nth-child(2) {
                margin: 0 30px;
            }
        }
    }
}

.ilyric_box {
    padding: 30px 25px;
    width: 250px;
    overflow: hidden;
    img {
        width: 250px;
        height: 250px;
        border-radius: 5px;
    }
    .ilyric {
        margin-top: 10px;
        text-align: center;
        overflow-y: auto;
        .lyricCurrent {
            color: #f00;
        }
    }
}

.playBtnBox {
    @include center($top: 0, $pos: relative);
    width: 250px;
    height: 250px;
    .disc {
        @include center($pos: relative, $top: v(140));
        width: 100%;
        height: 100%;
        background: url(/images/mobile/music/disc.png) no-repeat center;
        background-size: cover;
        &:before {
            @include center($top: 0);
            content: "";
            width: 100%;
            height: 100%;
            background: url(/images/mobile/music/disc_light.png) no-repeat center;
            background-size: cover;
        }
        .musicBoxImg {
            @include center_center;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .needle {
            @include center($top: -35px, $left: 60%, $other: rotateZ(-25deg));
            width: 56px;
            height: 82px;
            background: url(/images/mobile/music/needle.png) no-repeat center;
            background-size: cover;
            -webkit-transform-origin: 20px top;
            transform-origin: 20px top;
            -webkit-transition: all .5s linear;
            transition: all .5s linear;
        }
        .playBtn {
            @include center_center;
            width: 40px;
            height: 40px;
            border: 2px solid #fff;
            border-radius: 50%;
            color: #fff;
            cursor: pointer;
            &:after {
                @include center_center;
                content: "〓";
                display: none;
            }
            &:before {
                @include center_center($other: rotateZ(90deg));
                content: "▲";
            }
        }
    }
    .playStatus {
        .needle {
            @include center($top: -30px, $left: 60%, $other: rotateZ(0));
        }
        .playBtn {
            &:after {
                display: block;
            }
            &:before {
                display: none;
            }
        }
    }
}

.iplayListIcon {
    position: absolute;
    top: 40px;
    left: 12px;
    width: 25px;
    cursor: pointer;
    span {
        display: block;
        height: 1px;
        background: #fff;
        margin: 5px 0;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
    &.action {
        span:nth-child(1),
        span:nth-child(4) {
            opacity: 0;
        }
        span:nth-child(2) {
            -webkit-transform: rotateZ(45deg) translateY(4px);
            transform: rotateZ(45deg) translateY(4px);
            -webkit-transform-origin: center;
            transform-origin: center;
            width: 28px;
        }
        span:nth-child(3) {
            -webkit-transform: rotateZ(-45deg) translateY(-5px);
            transform: rotateZ(-45deg) translateY(-5px);
            -webkit-transform-origin: center;
            transform-origin: center;
            width: 28px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .icontent {
        .ilogo {
            width: 60px;
        }
        .isearch_box {
            .isearch_input {
                margin-left: 5px;
                input {
                    &:focus {
                        width: 200px;
                    }
                }
            }
        }
        .ibody {
            display: block;
            .ileft {
                display: none;
            }
            .iright {
                position: fixed;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 1);
                z-index: 11;
                overflow: hidden;
                -webkit-transition: all .5s;
                transition: all .5s;
                &.action {
                    top: 0;
                }
                .iclose {
                    $v: 30px;
                    display: block;
                    position: absolute;
                    width: $v;
                    height: $v;
                    line-height: $v;
                    right: 10px;
                    top: 10px;
                    font-size: 20px;
                    text-align: center;
                    color: #fff;
                    z-index: 999;
                }
                .irightBg {
                    position: absolute;
                    top: 100%;
                    display: block;
                    -webkit-transform: scale(3);
                    transform: scale(3);
                    opacity: .5;
                    -webkit-filter: blur(10px);
                    filter: blur(10px);
                    z-index: -1;
                }
                .ilyric_box {
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    .ilyric {
                        color: #eee;
                    }
                }
            }
        }
        .isong_list_box {
            padding: 10px 0;
            .isong_list_content {
                padding-left: 10px;
            }
            .isong_title {
                li:nth-child(2) {
                    margin: 0 5px;
                }
            }
            .isong_list {
                li {
                    p:nth-child(2) {
                        margin: 0 5px;
                    }
                }
            }
        }
        .ifoot {
            display: block;
            .iplate {
                $h: 18px;
                display: block;
                position: absolute;
                left: 5px;
                top: -$h - 5px;
                width: $h;
                height: $h;
                background: url(/images/music/icon.png) no-repeat 0 -358px;
                -webkit-animation: iplateAni 2s infinite;
                animation: iplateAni 2s infinite;
            }
            .icontroll {
                width: 100%;
                padding-top: 10px;
                text-align: left;
            }
            .iprocess {
                -webkit-box-flex: 0;
                -ms-flex: none;
                flex: none;
                padding: 5px;
                .isong_title {
                    height: 20px;
                    line-height: 20px;
                    font-size: 12px;
                    text-align: center;
                }
            }
            .ivolume {
                position: absolute;
                top: 0;
                right: 0;
                width: 100px;
                .ivolume_controll {
                    position: absolute;
                    top: -99999px;
                }
                .iplayListIcon {
                    top: 20px;
                    left: auto;
                    right: 20px;
                }
            }
        }
    }
    @-webkit-keyframes iplateAni {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        50% {
            -webkit-transform: translateY(5px);
            transform: translateY(5px);
        }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
    @keyframes iplateAni {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
        50% {
            -webkit-transform: translateY(5px);
            transform: translateY(5px);
        }
        100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }
    }
}