<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload</title>
</head>

<body>
        
        <p>
            <input type="file" id="myfiles" name="file" />
        </p>
        <p>
            <input type="submit" id="submit" value="submit" />
        </p>
        <div id="result"></div>
    

<script type="text/javascript">

function uploadFile(){
    var formData = new FormData()
    var files = document.getElementById("myfiles").files      
    var fileArray=[].slice.call(files,0)//类数组转换为数组
      
    formData.enctype="multipart/form-data"
    fileArray.forEach(function(file){
        formData.append("myfile",file)//循环遍历把文件对象插到formData对象上
    })
      
    var xhr = new XMLHttpRequest()
    xhr.open("post","/upload",true)//发送post请求到/upload
    xhr.onreadystatechange = function (e) {
        if (xhr.readyState == 4) {
            if(xhr.status >= 200 && xhr.status < 300 || xhr.status == 304){
                document.getElementById("result").innerHTML = xhr.response
            }
        }
    }
    xhr.send(formData)
}
var input=document.getElementById("submit")
input.onclick=uploadFile//绑定事件

</script>
    
</body>

</html>