<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>恨水无伤</title>

    <%include ../common/meta.ejs %>

</head>

<body>

    <div id="app"></div>


    <script src="/dist/js/home.js"></script>

    <%include ../common/foot.ejs %>

</body>

</html>