* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

body {
    background: #fcf8ee;
}

.poetry-box {
    overflow: hidden;
    .poetry-list-box {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        height: 100%;
        -webkit-transition: all .5s;
        transition: all .5s;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        .poetry-search-box {
            position: relative;
            padding: 20px 10px 5px;
            input {
                width: 100%;
                height: 25px;
                line-height: 25px;
                -webkit-transition: all .5s ease-out;
                transition: all .5s ease-out;
                outline: none;
                border: 1px solid #ddd;
                border-radius: 3px;
                text-indent: 5px;
                &:focus {
                    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
                }
            }
            span {
                position: absolute;
                top: 21px;
                right: 10px;
                width: 25px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                cursor: pointer;
                color: #999;
            }
        }
        .poetry-list {
            padding-bottom: 50px;
            cursor: pointer;
            p {
                padding-left: 5px;
                margin-top: 20px;
                height: 20px;
                line-height: 20px;
                color: #f00;
                border-left: 2px solid #999;
                font-size: 16px;
            }
            li {
                padding: 5px;
            }
            .poetry-list-title {
                margin: 5px 0;
                font-size: 14px;
                -webkit-transition: all .5s ease-out;
                transition: all .5s ease-out;
                border-bottom: 1px dotted #eee;
                &:hover {
                    padding-left: 15px;
                }
                span:last-child {
                    float: right;
                    color: #dedddb;
                }
            }
        }
    }
    .poerty-info {
        width: 600px;
        margin-left: 350px;
        padding: 5%;
        text-align: center;
        font-size: 16px;
        h3 {
            margin-top: 50px;
            font-size: 18px;
        }
        h5 {
            font-weight: normal;
            font-size: 12px;
            margin: 10px 0;
        }
        p {
            margin: 30px 0;
            line-height: 24px;
        }
        p:last-child {
            text-align: left;
        }
    }
}

.loading-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1) url(/images/load.gif) no-repeat center;
}

.fade-enter-active,
.fade-leave-active {
    -webkit-transition: opacity .35s;
    transition: opacity .35s
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.imenuBox {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: #fcf8ee;
    border-bottom: 1px solid #ddd;
    display: none;
}

.imenu {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 25px;
    cursor: pointer;
    span {
        display: block;
        height: 1px;
        background: #000;
        margin: 5px 0;
        -webkit-transition: all .5s;
        transition: all .5s;
    }
}

@media screen and (max-width: 1000px) {
    $v: 300px;
    .poetry-box {
        .poetry-list-box {
            padding-top: 51px;
            left: -$v;
        }
        .poerty-info {
            position: relative;
            margin-left: 0;
            width: 90%;
            -webkit-transition: all .5s;
            transition: all .5s;
        }
        .imenuBox {
            display: block;
        }
        .imenuBg {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, .5);
            height: 3000px;
            -webkit-transition: all .5s;
            transition: all .5s;
        }
    }
    .showMenu {
        .poetry-list-box {
            left: 0;
        }
        .poerty-info {
            margin-left: $v;
        }
        .imenuBg {
            display: block;
            left: $v;
            -webkit-animation: imenuAni .5s .25s both;
            animation: imenuAni .5s .25s both;
        }
    }
}

@-webkit-keyframes imenuAni {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes imenuAni {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}