html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
img,
a,
dl,
dt,
dd,
ul,
ol,
li,
pre,
em,
strong,
b,
i,
fieldset,
form,
label,
legend,
button,
input,
textarea,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body,
button,
input,
select,
textarea {
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}

small {
  font-size: 12px;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

em,
i {
  font-style: normal;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

input,
select,
img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #d4efff;
}

::-webkit-input-placeholder {
  color: #ccc;
}

::-moz-placeholder {
  color: #ccc;
}

:-moz-placeholder {
  color: #ccc;
}

.itip {
  position: relative;
  padding: 20px;
  background: #fff;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.itip a {
  position: absolute;
  right: 15px;
  top: 10px;
  color: #000;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.iword {
  padding: 30px;
  margin: 0 auto;
  width: 1000px;
}

.iword .value {
  height: 20px;
  line-height: 20px;
  padding: 5px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.iwords_box .itab_nav {
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}

.iwords_box .itab_nav a {
  display: inline-block;
  padding: 0 10px;
  color: #333;
}

.iwords_box .itab_nav .showStatus {
  background: #fff;
  border-radius: 5px;
}

.iwords_box dd {
  padding-top: 30px;
}

.ibox {
  padding: 10px 0;
}

.ibox h5 {
  padding: 5px 0;
}

.ibox .iphonogram {
  padding: 15px 0 5px;
  display: inline-block;
  height: 42px;
  vertical-align: top;
  margin-right: 35px;
}

.ibox .iphonogram .iauido_controls {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  background: url(/images/word/play.png) no-repeat center;
  border: 1px solid #333;
  border-radius: 50%;
  cursor: pointer;
}

.ibox .iphonogram .istop {
  background: url(/images/word/stop.png) no-repeat center;
}

.ibox .iphonogram p {
  color: #f00;
}

.ibox ul {
  margin-bottom: 20px;
  padding: 5px 0 10px;
  border-bottom: 1px dotted #ddd;
}

.ibox ul li {
  padding: 5px 0;
}

.ibox ul li span {
  float: left;
  width: 110px;
  text-align: right;
  color: #888;
}

.ibox ul li p {
  margin-left: 115px;
}

.irecite_box .inums label {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  margin-bottom: 5px;
}

.irecite_box .inums label input {
  vertical-align: middle;
}

.irecite_box .irecite_word_list_box {
  overflow: hidden;
  padding-top: 10px;
}

.irecite_box .irecite_word_list_box .irecite_word_list {
  float: left;
  width: 160px;
  padding: 5px;
  border-radius: 5px;
  background: #fff;
  max-height: 540px;
  overflow-y: auto;
}

.irecite_box .irecite_word_list_box .irecite_word_list li {
  padding: 3px 0;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  border-bottom: 1px solid #fff;
}

.irecite_box .irecite_word_list_box .irecite_word_list li.active, .irecite_box .irecite_word_list_box .irecite_word_list li:hover {
  color: #f00;
  border-bottom-color: #f00;
}

.irecite_box .irecite_word_list_box .irecite_word_list li:first-child {
  display: flex;
  margin-bottom: 10px;
  text-align: center;
  border: none;
}

.irecite_box .irecite_word_list_box .irecite_word_list li:first-child:hover {
  border: none;
  color: #333;
}

.irecite_box .irecite_word_list_box .irecite_word_list li:first-child span {
  flex: 1;
  margin: 0 3px;
  background: #eee;
  border-radius: 5px;
}

.irecite_box .irecite_word_list_box .irecite_word_list li:first-child span:hover {
  color: #f00;
}

.irecite_box .irecite_word_list_box .irecite_wor_right {
  margin-left: 180px;
}

.irecite_box .irecite_word_list_box .itext p {
  margin-bottom: 5px;
  color: #666;
}

.irecite_box .irecite_word_list_box .itext input {
  padding: 0 5px;
  width: 250px;
  height: 30px;
  line-height: 30px;
  border-radius: 5px;
}

.irecite_box .irecite_word_list_box .itext a {
  margin: 0 10px;
  color: #666;
}

@media screen and (max-width: 1000px) {
  .iword {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .irecite_box .irecite_word_list_box .irecite_word_list {
    float: none;
    width: auto;
  }
  .irecite_box .irecite_word_list_box .irecite_wor_right {
    margin-left: 0;
  }
}
